/*background*/
.cs-bg-light {
    background-color: #f5f7ff !important;
}

.cs-bg-main-light {
    background-color: #ffffff !important;
}

.cs-bg-item-light {
    background-color: #f0f2fa !important;
}

/*fonts*/
.cs-fc-light {
    color: #63687e !important;
}

.cs-fc-light-second {
    color: #1e202a !important;
}

/*buttons*/
.cs-toggle-light {
    background-color: transparent !important;
    color: #dc414c !important;
    border: solid 2px #dc414c !important;
}

.cs-toggle-light:hover {
    background-color: #dc414c !important;
    color: #f0f2fa !important;
    box-shadow: 
        0 0 2px #fdc468, 
        0 0 4px #fdc468, 
        0 0 6px #fdc468, 
        0 0 8px #fdc468, 
        0 0 10px #fdc468, 
        0 0 12px #fdc468, 
        0 0 14px #fdc468;
}

.cs-toggle-light:focus {
    box-shadow: none !important;
}

.cs-nav-link-light .nav-link, .cs-link-light{
    color: #63687e !important;
}

.cs-link-light:hover {
    text-shadow: 
        0 0 2px #fdc468, 
        0 0 4px #fdc468, 
        0 0 6px #fdc468, 
        0 0 8px #fdc468, 
        0 0 10px #fdc468, 
        0 0 12px #fdc468, 
        0 0 14px #fdc468;
}

.cs-nav-link-light .nav-link:hover {
    transition: .5s !important;
    text-shadow: 
        0 0 2px #fdc468, 
        0 0 4px #fdc468, 
        0 0 6px #fdc468, 
        0 0 8px #fdc468, 
        0 0 10px #fdc468, 
        0 0 12px #fdc468, 
        0 0 14px #fdc468;
}

.cs-btn-filter-light {
    background-color: #dc414c !important;
    color: #f0f2fa !important;
}

.cs-btn-filter-light:disabled {
    background-color: #63687e !important;
    color: #f0f2fa !important;
}

.cs-btn-filter-light:disabled .cs-badge {
    color: #1f212e !important;
}

.cs-btn-filter-light .cs-badge {
    background-color: #63687e !important;
    color: #f0f2fa !important;
}

.cs-btn-filter-light:hover {
    background-color: #f5f7ff !important;
    color: #63687e !important;
    box-shadow: 
        0 0 2px #fdc468, 
        0 0 4px #fdc468, 
        0 0 6px #fdc468, 
        0 0 8px #fdc468, 
        0 0 10px #fdc468, 
        0 0 12px #fdc468, 
        0 0 14px #fdc468;
}

.cs-btn-filter-light:hover .cs-badge {
    background-color: #f0f2fa !important;
    color: #63687e !important;
}

.cs-btn-light {
    color: #dc414c !important;
    border: solid 2px #dc414c !important;
}

.cs-btn-light:hover {
    background-color: #dc414c !important;
    color: #f0f2fa !important;
    box-shadow: 
        0 0 2px #fdc468, 
        0 0 4px #fdc468, 
        0 0 6px #fdc468, 
        0 0 8px #fdc468, 
        0 0 10px #fdc468, 
        0 0 12px #fdc468, 
        0 0 14px #fdc468;
}

/*badges*/
.cs-badge-light {
    background-color: #dc414c !important;
    color: #f0f2fa !important;
    opacity: 50% !important;
    z-index: 1 !important;
}

/*shadow*/
.cs-shadow-light {
    box-shadow: #fdc468 0px 5px 15px;
}

.cs-shadow-item-light {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cs-shadow-item-light:hover {
    box-shadow: 
        0 0 1px #fdc468, 
        0 0 2px #fdc468, 
        0 0 3px #fdc468, 
        0 0 4px #fdc468, 
        0 0 5px #fdc468, 
        0 0 6px #fdc468, 
        0 0 7px #fdc468;
}

.cs-shadow-item-light:hover .cs-img, .cs-shadow-item-light:hover .cs-badge-light{
    opacity: 100% !important;
}