.cs-transition {
    transition: .5s !important;
}

.cs-w {
    width: 50% !important;
}
/*Background*/


/*Badges*/
.cs-badge {
    margin-top: 1px !important;
    margin-left: -2px !important;
}

/*Images*/
.cs-img {
    opacity: 75% !important;
    object-fit: cover !important;
}

@media (max-width: 991px) {
    .cs-w {
        width: 100% !important;
    }
}